* {
  box-sizing: border-box;
}

body {
  background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #03001e, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #03001e, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  caret-color: transparent;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

h1 {
  margin: 20px 0 0;
}

.game-container {
  padding: 20px 30px;
  margin: auto;
  height: 400px;
  width: 50%;
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  text-align: right;
}

@media screen and (max-width: 890px) { 
  .game-container {
    flex-direction: column;
    height: 390px;
  }
  .wrong-letters-container {
    margin-top: 10px;
    text-align: center;
  }
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  bottom: 60pt;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 80%
}

.letter {
  border-bottom: 3px solid #E94057;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 40px;
  width: 20px;
}

.letter2 {
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 40px;
  width: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  display: flex;
  overflow: auto;
  width: 50%;
  height: 80%;
  flex-direction: column;
  margin: auto;
  cursor: pointer;

}


.popup::-webkit-scrollbar {
  width: 1em;
}
 
.popup::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #7303c0;
  border-radius: 5px;
}
 
.popup::-webkit-scrollbar-thumb {
  background-color: #7303c080;
  outline: 1px solid slategrey;
  border-radius: 5px;
}


.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  width: 100%;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}

.number-of-errors {
  padding-top: 10px;
}

.userName {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1;
  caret-color: transparent;
}

.aligningFirstScreenElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.displayHidden {
  display: none;
}

.playAGame {
  background: #ff00cc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.restartBtn {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.scoreboard {
  display: flex;
  min-width: 200px;
  max-width: 600px;
  flex-wrap:wrap;
  margin: 20px auto;
  justify-content: center;
  border-radius: 6px;
  border: 3px solid #ff00cc;
}


.highscoreRow {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ff00cc;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap:wrap;

}

.usernameAndScore{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #ff00cc;
  padding-left: 15px;
  padding-right: 15px;
}